!!! 5
html
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width")

  title Hattip Help
  link(rel="stylesheet", href="/style/style.css")
  
  p First things first: give your name and hit enter.
  p Once you've done that, you'll be in the 'home' room.
  p From the logged in screen, you can submit links, text posts, comments, etc.
  p
    b Submit links 
    |by pasting a url into the text box and hitting enter.
  p 
    b Submit text posts 
    |by typing '&gt;' into the text box, followed by your text.
  p 
    b Comment on the latest post 
    |by typing '!' into the text box, followd by your comment.
  p 
    b Comment on a prior post 
    |by typing '!-x' to comment on the x most recent post.
  p 
    b Change your name 
    |by typing '@' followed by your new name.
  p 
    b Join a different room 
    |by typing '/' followed by the room name.
  p Thats it!