!!! 5
html
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width")

  title #{topic}
  link(rel="stylesheet", href="/style/style.css")
  script(src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")
  script(src="/js/vendor/jquery-1.9.1.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js")
  script(src="js/hattip-client.js")

  div.inputContainer.big
    input#mainInput.big(type="text", placeholder="I am...")
    div#enterAction Join This HatTip&crarr;
  div#content
  div#rooms
